body { 
    background-color: rgb(230, 169, 120);
    margin:0 ;
    padding:0;
}


#menu {
    margin: 0;
    overflow: hidden;
    list-style: none;
    background-color: rgb(255, 216, 156);
     padding: 20px;
    font-size: 1.5em;
    align-items: center;
    display: flex;
}

#menu li a {
    text-decoration: none;
    color: rgb(215, 55, 55);
    margin: 0 20px;
    
}

#menu li a.active {
    color: brown;
    font-weight: bold;
    border-bottom: 2px solid brown; 
   }


.container {
    display: flex;
    align-items: center;
    padding: 20px;
}


.imagem img {
    width: 110px;
    border-radius: 10px;
    margin-top: -30px;
}

.sobre-container {
    display: flex;
    justify-content: space-between; /* Um em cada lado */
    gap: 40px; 
    padding: 40px;
}

.coluna {
    font-size:  30px;
    text-align: center;
    width: 100%;
}

.social a {
    padding: 8px 14px;
    border: 2px solid #c00;
    border-radius: 20px;
    text-decoration: none;
    color: #c00;
    margin-right: 10px;
    font-weight: bold;
}
.row {
    display: flex; /* Alinha os elementos filhos (colunas) lado a lado */
}

.column {
    flex: 1; /* Faz com que cada coluna ocupe uma parte igual do espaço */
    padding: 15px;
    border: 1px solid #ccc; /* Apenas para visualização */
    margin: 5px;
}
.projetos{
    text-decoration: none;
     margin-right: 10px;
    font-weight: bold;
    color: blueviolet;
    
}
